<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Readme later</title>
  <script>
    window.global = window;
  </script>
  <% for (key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>" />
  <% } %>
</head>

<body>
  <noscript>You need to enable javascript</noscript>
  <div id="root"></div>
  <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
  <% } %>
</body>

</html>