{
    "extends": [
        "react",
        "react-app",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "parser": "babel-eslint"
    },
    "plugins": [
        "react-hooks"
    ],
    "globals": {
        "Reflect": true,
        "Promise": true,
        "RegEx": true,
        "AbortController": true,
        "BUILD_NUMBER": true
    }
    // "rules": {
    //     "indent": [
    //         "error",
    //         2,
    //         {
    //             "ignoreComments": true,
    //             "ignoredNodes": [
    //                 "TemplateLiteral"
    //             ]
    //         }
    //     ],
    //     "space-before-function-paren": [
    //         "error",
    //         "never"
    //     ],
    //     "keyword-spacing": [
    //         0
    //     ],
    //     "react/jsx-curly-spacing": [
    //         0
    //     ],
    //     "react/jsx-boolean-value": [
    //         0
    //     ],
    //     "new-cap": [
    //         0
    //     ],
    //     "max-depth": [
    //         "error",
    //         5
    //     ],
    //     "max-params": [
    //         "error",
    //         6
    //     ],
    //     "react/forbid-prop-types": [
    //         0
    //     ],
    //     "react/display-name": [
    //         0
    //     ],
    //     "react/no-find-dom-node": [
    //         0
    //     ],
    //     "react/no-deprecated": [
    //         0
    //     ],
    //     "max-len": [
    //         "error",
    //         120
    //     ],
    //     "array-callback-return": [
    //         2
    //     ],
    //     "no-mixed-operators": [
    //         2
    //     ],
    //     "eqeqeq": [
    //         2
    //     ],
    //     "comma-dangle": [
    //         2
    //     ],
    //     "no-unused-vars": [
    //         2
    //     ],
    //     "no-trailing-spaces": [
    //         "error",
    //         {
    //             "ignoreComments": true,
    //             "skipBlankLines": true
    //         }
    //     ]
    // }
}