{
    "extends": [
        "react",
        "react-app",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "parser": "babel-eslint"
    },
    "plugins": [
        "react-hooks",
        "prettier"
    ],
    "globals": {
        "Reflect": true,
        "Promise": true,
        "RegEx": true,
        "AbortController": true,
        "BUILD_NUMBER": true
    },
    "rules": {
        "prettier/prettier": "error"
    }
}